@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  font-family: Poppins, serif;
}
.container {
  margin-top: 2rem;
  height: 100%;
  background-color: black;
}
/* ///////slider */
.card {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}
.card-to-do {
  margin-top: 1rem;
}
.btn-delete {
  padding: 0;
  margin: 0;
  border: none;
}
.due-checkbox {
  font-size: 12px;
  color: gray;
}
.lamp {
  position: absolute;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background: radial-gradient(circle at center, var(--lamp-level), #ffffff00);
}
.slider {
  position: relative;
  width: 15rem;
  height: 0.5rem;
}

.slider input[type="range"] {
  position: absolute;
  left: -0.1rem;
  top: 0;
  width: 15.5rem;
  height: 0.5rem;
  -webkit-appearance: none;
  background: transparent;
  z-index: 99;
}

.slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: black;
  cursor: pointer;
  border: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 50%;
}
.slider input::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}
.slider progress {
  width: 15rem;
  height: 0.5rem;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
}
.slider progress::-webkit-progress-bar {
  background: var(--lamp-level-1); /*color of background of track */
}
.slider progress::-webkit-progress-value {
  background: black; /*value color*/
}
.slider-lamp-value {
  font-family: Poppins, serif;
  height: 1.25rem;
  width: 1.75rem;
  margin-left: 1rem;
  text-align: center;
}
#abbr {
  color: gray;
}
/* audio ------- */
audio::-webkit-media-controls-current-time-display {
  display: none;
}
audio::-webkit-media-controls-time-remaining-display {
  display: none;
}
audio {
  width: 16rem;
}
